---
import '../styles/global.css';
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>Hardware Ecu Documentation</title>
<meta
  name="description"
  content="We provide the largest database of hardware ecu information and documentation."
/>
<meta name="keywords" content="Hardware ecu, documentation, database, e-bikes, e-scootes, car ecu, trucks ecu database, ecu database" />
<meta name="author" content="Laravelc Company" />

<!-- Favicons -->
<link rel="icon" href="/logo.svg" sizes="any" />
<link rel="icon" href="/logo.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />

<!-- Favicon for IE -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<!-- Favicons for different sizes -->
<link rel="icon" type="image/png" sizes="16x16" href="/logo.svg" />
<link rel="icon" type="image/png" sizes="32x32" href="/logo.svg" />
<link rel="icon" type="image/png" sizes="48x48" href="/logo.svg" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ecudocs.com/" />
<meta property="og:title" content="Hardware ecu documentation for developers, tinkers, and makers" />
<meta
  property="og:description"
  content="Hardware ecu friendly documentation for developers, tinkers, and makers"
/>
<meta
  property="og:image"
  content="https://ecudocs.com/logo.svg"
/>

<!-- Canonical URL -->
<link rel="canonical" href="https://ecudocs.com/" />

<!-- Additional SEO -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Apple Touch Icon (already included in favicons, but keeping for backwards compatibility) -->
<link rel="apple-touch-icon" sizes="180x180" href="/logo.svg" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#3E433E" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<script>
  //Marketplace Partner Item API Facebook
  [

    {
        "method": "CREATE",
        "data": { 
            "id": "UniqueProductID",
            "title": "Car Ecu Clonning",
            "description": "We are offering clonning cars,motorcycles,electric scooters,and other hardware ecu",
            "price": "75 GBP",
            "image_link": "https:\/\/www.facebook.com",

            "availability": "in stock",
            "condition": "new",
            "link": "https:\/\/www.facebook.com",
            "return_details": {"return_days": "30", "return_type": "SELLER_PAID_RETURN"},
            "partner_product_checkout_uri": "https:\/\/www.facebook.com",
            "partner_product_location": "London",
            "partner_product_expiration_time": "1923181264",
            "partner_delivery_method": ["shipping"],
            "partner_shipping_type": "fixed",
            "partner_shipping_cost": "14.95",
            "partner_shipping_speed": "3:5",
            "partner_attribute_data": {"color": "blue"},
            "partner_seller_id": "MySellerId1",
            "partner_item_country": "US"
        }
    },

]
   
</script>