---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import Menu from "../components/global/Menu.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body>
    <Menu />
    <slot />
    <Footer />
  </body>
</html>
